.container{
   margin: 150px 350px;
    border: 2px solid blue;
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*Input Task*/
.input-group{

    display: flex;
    /*border: 1px solid yellow;*/
    height: 9%;
    width: 100%;
    justify-content: center;
    position: relative;
}
.input-task{

    outline: none;
    height: 90%;
    width: 75%;
    padding-left: 40px;
    background-color: rgb(241, 245, 245);
    border: 1px solid rgb(36, 128, 128);
}
.my-icon-l{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid sandybrown;*/
    width: 6%;
    height: 100%;
    /*background-color: rgb(36, 128, 128);*/
    position: absolute;
    left: 11%;

}
.my-icon-r{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid sandybrown;*/
    width: 6%;
    height: 100%;
    /*background-color: rgb(36, 128, 128);*/
    position: absolute;
    right: 12%;
}

.task-operation{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.complete-all-task{
    display: flex;
    gap: 15px;
}
.clear-task{
    display: flex;
    gap: 15px;
}


/*For note purpose*/
.contaned{
    height: 50px;
    width: 90%;
    border: 1px solid slategrey;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.task{
    width: 80%;
    height: 100%;
    border: 1px solid blue;
}
.ic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 100%;
    /*border: 1px solid yellow;*/
}

.todo-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.to-do{
    display: flex;
    width: 100%;
    gap: 5px;
}
.task-container{
    width: 75%;
}
.my-task{
    width: 87%;
}

.cursor{
    cursor: pointer;
}






